{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Invoice' %} | SkyLearn{% endblock %}

{% block content %}
<div class="page-header"><div><div class="section-kicker">{% trans 'Payments' %}</div><h1>{% trans 'Invoice' %}</h1></div></div>
<div class="card">
    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-sm-4">{% trans 'User' %}</dt><dd class="col-sm-8">{{ invoice.user }}</dd>
            <dt class="col-sm-4">{% trans 'Amount' %}</dt><dd class="col-sm-8">{{ invoice.amount }}</dd>
            <dt class="col-sm-4">{% trans 'Total' %}</dt><dd class="col-sm-8 mb-0">{{ invoice.total }}</dd>
        </dl>
    </div>
</div>
{% endblock %}
